
<!--=== footer ===-->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-5 align-self-center">
            	<div>
            		<span>
            			备案号：{dreamer-cms:global name="icp" /}
            		</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span>
                        {dreamer-cms:global name="copyright" /}
                    </span>
            	</div>

            </div>
        </div>
    </div>
</footer>